<header class="header_area header_area_three">
  <nav class="navbar navbar-expand-lg menu_one menu_four">
    <div class="container">
      <a class="navbar-brand" href="/home"
        ><img src="../assets/images/logo.png" alt="" width="12%" height="12%"
      /></a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="menu_toggle">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="hamburger-cross">
            <span></span>
            <span></span>
          </span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav menu ml-auto mr-auto">
          <li class="nav-item dropdown mega_menu mega_menu_two">
            <a
              class="nav-link dropdown-toggle"
              href="/home"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Home
            </a>
          </li>
          <li class="dropdown nav-item">
            <a
              title="Pages"
              class="dropdown-toggle nav-link"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              href="/about"
              >About</a
            >
          </li>
          <li class="nav-item dropdown mega_menu active">
            <a
              class="nav-link dropdown-toggle"
              href="/ranking"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Ranking
            </a>
          </li>
          <li class="nav-item dropdown mega_menu ">
            <a
              class="nav-link dropdown-toggle"
              href="/feedback"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Feedback
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="job_listing_area bg_color sec_pad3">
  <div class="container">
    <div class="job_listing">
      <h3 class="f_p f_size_24 l_height28 f_500 t_color3 mb-30">
        Rated news domain
      </h3>
      <div id="job_filter" class="job_list_tab">
        <div data-filter="*" class="list_item_tab active">All</div>
      </div>
      <div class="center loading1" *ngIf="!ranklist">
        <div class="spinner"></div>
        <p class="text-center">Loading</p>
      </div>
      <div class="listing_tab" id="tab_filter" *ngIf="ranklist">
        <div class="item lon new" *ngFor="let item of ranklist">
          <div class="list_item">
            <figure>
              <a href="#"
                ><img src="../../assets/images/ranking.png" alt=""
              /></a>
            </figure>
            <div class="joblisting_text">
              <div class="job_list_table">
                <div class="jobsearch-table-cell">
                  <h4>
                    <a href="#" class="f_500 t_color3">{{ item.url }}</a>
                  </h4>
                  <ul class="list-unstyled">
                    <li class="g_color">News Domain</li>
                    <li>Veritas</li>
                    <li>updated {{ item.updated | timeAgo }}</li>
                  </ul>
                </div>
                <div class="jobsearch-table-cell">
                  <div class="jobsearch-job-userlist">
                    <h2 class="rating_color">
                      <star-rating
                        value="{{ item.rating | number: '1.1-1' }}"
                        checkedcolor="#ffd500"
                        uncheckedcolor="#D3D3D3"
                        size="24px"
                        readonly="true"
                      ></star-rating>

                      <span class="score">Score</span>
                      {{ item.rating | number: "1.2-2" }}
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navigation pagination text-center mt_60" role="navigation">
        <div class="nav-links">
          <span aria-current="page" class="page-numbers current">1</span>
        </div>
      </nav>
    </div>
  </div>
</section>
